server:
    port: 8080
spring:
    datasource:
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://localhost:5432/fakng-db?allowPublicKeyRetrieval=true&useSSL=false&useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
        username: postgres
        password: admin
    jpa:
        show-sql: true
        open-in-view: false
    properties:
        hibernate:
            format_sql: true

url:
    google: https://careers.google.com/api/v3/search/?q=&page_size=100&sort_by=date&page=%d
    amazon: https://www.amazon.jobs/en/search.json?offset=%d&result_limit=100&category[]=software-development&sort=recent

agrgtr:
    cron: 0 */12 * * * * #at 0th min of every 12th hour
    pool-size: 5